.App {
  font-family: sans-serif;
  text-align: center;
}
#list-container {
  height: 70%;
  margin: 10px 30px;
  padding: 10px 10px;
}
#list-container ul {
  position: relative; /*parent needs to be relative*/
  align-content: center;
}
.list-item {
  position: absolute; /*child needs to be absolute*/
  height: 120px;
  width: 50%;
  text-align: center;
  padding: 45px 0 0 0;
  margin-top: 20px;
  list-style: none;
  box-shadow: 2px 2px 9px 0px #bbb;
}
